<h1>Editing Book</h1>

<body>
<%= form_with model:@book, local:true do |f| %>
  <div class="field">
    <label >title</label>
    <%= f.text_field :title %>
  </div>
  <div class="field">
    <label>body</label>
  <%= f.text_area :body %>
  </div>
  <div class="action">
  <%= f.submit 'Create Book' %>
  </div>
<%= link_to "Show", book_path(@book) %>
|
<%= link_to "Back", books_path(@book) %>
<% end %>
</body>


